* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 253, 253);
}

main {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);


}

footer {
    background-color: rgb(8, 10, 12);
    color: aliceblue;
}


span {
    color: rgba(233, 207, 136, 0.819);
}

.colorNegroTitulos {
    color: black;
    text-align: center;

}





#hero-section a {
    background-color: rgba(237, 182, 32, 0.526);
    color: aliceblue;
    transition: 0.5s;
}




#hero-section a:hover {
    color: orangered;
    background-color: rgb(255, 255, 255);
    border: 2px groove black;
}






/*-------------------POLITICAS--------------*/
.seccion-pie {

    font-size: 30px;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    color: black;
    text-shadow: 90px 27px 9px rgba(0, 0, 0, 0.6);
    border: 1px solid #1C6EA4;
    border-radius: 20px 20px 20px 20px;

}






/*------------------------GALERIA--------------------------*/

.galeria-imagenes {
    padding: 3vw 6vw;
}

.grillaDeimagenes {
    height: 100vh;
    display: grid;


    gap: 10px;

}

.grillaDeimagenes>img {
    width: 90%;
    height: 90%;

    object-fit: cover;

}

.grillaDeimagenes img:hover {
    transform: scale(0.8);
    box-shadow: 31px -2px 40px 18px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 31px -2px 40px 18px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 31px -2px 40px 18px rgba(0, 0, 0, 0.69);
    transition: 1.5s;
}




@media screen and(max-width: 575px) {


    .grillaDeimagenes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 10vh);

    }


}



@media screen and (min-width: 576px) and (max-width: 768px) {
    .grillaDeimagenes {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 15vh);



    }



}

@media screen and (min-width:769px) {
    .grillaDeimagenes {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 20vh);

        grid-template-areas:
            "img1 img1 img1 img2 img2 img2 img3 img3"
            "img1 img1 img1 img2 img2 img2 img3 img3"
            "img4 img4 img4 img5 img5 img5 img6 img6"
            "img4 img4 img4 img5 img5 img5 img6 img6"
            "img7 img7 img7 img7 img8 img8 img8 img8"
            "img7 img7 img7 img7 img8 img8 img8 img8";
    }

    .galeria-img1 {
        grid-area: img1;
    }

    .galeria-img2 {
        grid-area: img2;
    }

    .galeria-img3 {
        grid-area: img3;
    }

    .galeria-img4 {
        grid-area: img4;
    }

    .galeria-img5 {
        grid-area: img5;
    }

    .galeria-img6 {
        grid-area: img6;
    }

    .galeria-img7 {
        grid-area: img7;
    }

    .galeria-img8 {
        grid-area: img8;
    }
}